module ${1:`support_functions#RubyClassNameFromFilename()`}
	module ClassMethods
		${2}
	end

	module InstanceMethods

	end

	def self.included(receiver)
		receiver.extend         ClassMethods
		receiver.send :include, InstanceMethods
	end
end
